.negritas{
    font-weight: bold;
}

/****[ALTA PERSONAL]******/

.menu-show-header{
    text-align: center;
}

.description{
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
}

.menu-show-header-img{
    width: 80px;
    margin-left: 100px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}