.negritas{
    font-weight: bold;
}

/****[ALTA PERSONAL]******/

.menu-show-header{
    text-align: center;
}

.description{
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 30px;
}

.menu-show-header-img{
    width: 80px;
    margin-left: 100px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}

/*-- FORM ALTA PERSONAL --*/
.container-form-personal{
    margin: 50px 0px;
}

.labels{
    width: 20%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.labels label{
    display: block;
    margin: 22px 0px;
}

.inputs{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.inputs input{
    width: 90%;
    margin: 10px 0px;
}

.elemento1{
    padding: 8px 10px;
    border-radius: 20px;
}

.elemento1:focus{
    outline: none;
}

.botones-form2{
    margin-top: 30px;
    margin-bottom: 15px;
}

/***** [VER PERSONAL] *******/
.card-personal{
    padding: 15px;
    margin: 10px 5px;
}

.title-card-personal{
    background-color: #765F4E;
    border-radius: 20px 0px 20px 0px;
    padding: 5px;
}

.info-card-personal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-campos{
    width: 20%;
    text-align: right;
    padding: 10px 20px;
    font-weight: bold;
}

.dato-campos{
    width: 60%;
    padding: 10px 5px;
    text-align: left;
}

.title-campos p, .dato-campos p{
    margin: 8px 0px;
}

.eliminar-card{
    width: 15%;
}

/*------- PRODUCTOS -------*/

.producto{
    background-color: #765F4E;
    border-radius: 50px;
    padding: 20px 10px;
    position: relative;
}

.textAmarillo{
    font-weight: bold;
    font-size: 18px;
    color: #CCFF00;
}

.eliminar-producto{
    border: 2px solid red;
    position: absolute;
    padding: 50px 20px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 15%;
    border-radius: 0px 50px 50px 0px;
    background-color: #FF0000;
}

.eliminar-producto a{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}